{% extends 'base.html' %}

{% block title %}Add User{% endblock %}

{% block content %}
    <h1>Create a user</h1>
    <form method="POST">
        <label class="formTitle" for="first_name">First Name
            <input name="first_name">
        </label>
        <label class="formTitle" for="last_name">Last Name
            <input name="last_name">
        </label>
        <label class="formTitle" for="image_url">Image Url
            <input name="image_url">
        </label>
        <button type="submit">Add User</button>
    </form>
{% endblock %}
