
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">

    <title>add user</title>
</head>
<body>
    <h1>Create a user</h1>
    <form method="POST">
        <label class="formTitle" for="first_name">First Name
            <input name="first_name">
        </label>
        <label class="formTitle" for="last_name">Last Name
            <input name="last_name">
        </label>
        <label class="formTitle" for="image_url">Image Url
            <input name="image_url">
        </label>
        <button type="submit">Add User</button>
    </form>
</body>
</html>
